<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assesment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>
    <h1>To Do List</h1>
    
         <table>
           <thead>
             <tr>
               <th></th>
             </tr>
           </thead>
           <tbody>
            <% if(todos.length) { %>
    
              <% todos.forEach(function(t, idx) { %>
                <tr>
                  <ul>
                <td>
                <li><%= t.todo %> - <%= t.done ? 'done' : 'Not done' %></li>
                
                </td>
              </ul>
               <td>
                <form
                action="/index/<%= idx %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">DELETE</button></form>
                <% }) %>
              </td>
            </tr>
            <% } else  { %>
              <h3>There are no To Dos yet!</h3>
            <% }; %>
              
           </tbody>
         </table>
       
      

     
     
<hr>

<form action="/" method="POST" autocomplete="off">
  <input type="text" name="todo" required >
        <button type="submit">ADD TO DO</button>
</form>


  </body>
</html>    
     

    
    
  
  
   

    
 
  
  </body>
</html>
